@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.np-head input{
    border: none;
}

.np-head{
    margin-top: 50px;
    text-align: right;
    border: none;
    margin-bottom: 50px;
}

.np-title{
    text-align: center;
    margin-bottom: 30px;
}

.np-title input{
    text-align: center;
    width: 200px;
    border: none;
}

.np-main{
    text-align: center;
    white-space: nowrap;
    margin-bottom: 50px;
}

.np-main input{
    border: none;
    text-align: center;
    width: 100px;
}

.np-main table {
    border: black;
    width: 100px;
    margin-left: 100px;
}

table {
    border-collapse: collapse;
}

.np-main td{
    height: 30px;
}

.np-foot{
    text-align: right;
    margin-right: 150px;
}

.np-foot input{
    border: none;
    width: 200px;
}

.spd{
    text-align: center;
}

.sprr{
    display: flex;
    text-align: center;
    
}
.rock{
    width: 5%;
}
.batu{
    text-align: center;
}

.header-container{
    margin-left:28%;
}

.header-container input{ 
    text-align: center;
}

.sprr-head{
    display: block;
    text-align: center;
}

.sprr-head input{
    width: 30px;
    margin-bottom: 30px;
}


.sprr-main{
    text-indent: 45px;
}

.sprr-foot{
    margin-top: 300px;
    text-align: right;
}

.sur-head{
    text-align: right;
    margin-bottom: 20px;
}

.sprr-1 input{
    border: none;
}

#content{
    margin: 150px;
    overflow: hidden;
}

  .spd-table {
    width: 100%;
  }
  
  .spd-main table{
    border-collapse: collapse;
  }

  .spd-main table,tr,th,td, tr {
        border: 1px solid black;
      }

  .spd-main input{
    border: none;
  }

  .kotak{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    border: 1px;
  }

.spb-main{
    margin-top: 30px;
    margin-bottom: 30px;
}

  .spb-foot table, thead, tr, td{
    border: none;
  }

  .tempat{
    float: right;
  }


  .spb-main input{
    width: 170px;
  }