.bg-register-image {
    background: url("https://img.freepik.com/free-vector/hacker-breaking-lock-get-access-personal-information-computer-isometric_1284-63723.jpg?size=626&ext=jpg&ga=GA1.1.1339198478.1696846499&semt=sph");
    background-position: center;
    background-size: cover;
  }